@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto Condensed';
  box-sizing: border-box;
}

.text-stroke-title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #CB883A;
}

.text-shadow {
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.25);
}

.plan-benefits-item span {
  color: #CB883A;
}

.services-slider .slick-track {
  margin: 0 -8px;
}

.services-slider .slick-slide {
  padding: 0 8px;
}
